<div class="row bg-body rounded ">
  <div class="p-4 col-md-4 order-md-2 mb-4 shadow p-3 mb-5 bg-body rounded ">
    <ul class="list-group mb-3 rounded-4">
      <li class="list-group-item d-flex justify-content-between">
        <span>Check-in</span>
        <span>Check-out</span>
      </li>
    </ul>
    <form class="card p-3">
      <div class="input-group">
        <div class="input-group-append ">
          <button type="submit" class="btn btn-primary  ">Book</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-8 order-md-1">
  </div>
</div>
