
<div class="banner">
  <div class="banner-homepage">
  <div class="container">
    <h1>leje. </h1>
    <div style="margin-bottom: 100px">
      <p>All household items that you'll ever want.</p>
      <p>On one single page.</p>
    </div>
    <%= link_to "Browse all items here", offers_path, class: "btn btn-primary btn-homepage", id: "blue_button" %>
  </div>
  </div>
</div>
