<%# <div class="container-filter">

</div> %>
<div class="container">
  <div class="filters">
    <ul class="list-inline tabs-underlined">
        <li>
          <a href="#" class="tab-underlined active"><i class="fa-solid fa-kitchen-set"></i> Kitchen</a>
        </li>
        <li>
          <a href="#" class="tab-underlined"><i class="fa-solid fa-toilet-paper"></i> Bathroom</a>
        </li>
        <li>
          <a href="#" class="tab-underlined"><i class="fa-regular fa-futbol"></i> Garden</a>
        </li>
      </ul>
    </div>
  <%= render "shared/index-card" %>
</div>
