<%# <div class="container-filter">

</div> %>
<div class="container">
  <div class="filters">
    <ul class="list-inline tabs-underlined">
      <li>
        <% @offers.each do |offer| %>
          <%= link_to offer.category, offers_path %>
        <% end %>
      </li>
        <li>
          <a href="#" class="tab-underlined active"><i class="fa-solid fa-kitchen-set"></i> Kitchen</a>
        </li>
        <li>
          <a href="#" class="tab-underlined"><i class="fa-solid fa-toilet-paper"></i> Bathroom</a>
        </li>
        <li>
          <a href="#" class="tab-underlined"><i class="fa-regular fa-futbol"></i> Garden</a>
        </li>
        <li>
        <%= link_to "Garden2", offers_path %>
        </li>
      </ul>
    </div>
  <%= render "shared/index-card" %>
</div>

<%# .where(@offer, :category => "garden") %>
