



<div class="container">
  <div class="row mt-4">
      <div class="col-4">
        <div class="card-category">
          <%= @offer.name %>
          <%= @offer.description %>
          <%= @offer.address %>
          <%= @offer.price %>
        </div>
      </div>
  </div>
