.bookings {
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  margin: 15px;
  padding: 20px;
  width: 60vw;
  justify-content: center;
  align-items: center;
}

.bookings p {
  margin:0
}
