#blue_button {
  color: white;
  &:hover {
    background-color: $light-blue;
    border-color: $light-blue;
    transition: 0.2s;
  }
}

#pink-button {
  color: white;
  &:hover {
    background-color: #f08bb7;
    border-color: #f08bb7;
    transition: 0.2s;
  }
}
